{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/style.css'%}">
    <title>Todo List</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>Todo List</h1>
      <form action="{% url 'todo_list:add' %}" method="post">
        {% csrf_token %}
        <input type="text" name="text" placeholder="What will you do?">
      </form>
      <ul>
        {% for todo in todos %}
        <li><a href="{% url 'todo_list:remove' todo.id %}">{{ todo.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
